@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

* {
    box-sizing: border-box;
}

h1{
    text-align: center;
}

body{
    font-family: 'Quantico', sans-serif;
    background-color: #15202b;
    color: whitesmoke;
}

main{
    display: flex;
    flex-direction: column;
    align-content: center;
}

footer{
    align-content: center;
}

#chart-container{
    min-width: 700px;
    max-width: 700px;
    max-height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
}

#text-container{
    width: 700px;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    color: black;
    overflow-y: scroll;
}

.bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

#total-value{
    height: 40px;
    padding-bottom: 5px;
    font-size: 25px;
    text-align: center;
}